/* =========================
   Declaration de Variables
========================= */
:root {   
    /* Couleurs */
    --bs-green: #198754;            /*Couleur principale*/
  --couleur-secondaire : #EAF8F3;   /*Couleur secondaire*/
  --couleur-fond : #FFFFFF;         /*Couleur de fond*/
  --couleur-paragraphe : #555555;    /*Couleur paragraphe*/
  --couleur-titre : #000000;        /*Couleur titre*/

  /* police */
  --police-titre : 'poppins', sans-serif;
  --police-paragraphe : 'roboto', sans-serif;
}
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         /* Les bordures et paddings sont inclus dans la taille de l'element */
}
/* Couleuur de fond */
body{
    background-color: var(--couleur-fond);
}
/* Police */
h1, h2, h3, h5, h6{
    color: var(--couleur-titre);
    font-family: var(--police-titre);
}
p{
    color: var(--couleur-paragraphe);
    font-family: var(--police-paragraphe);
}


/* =========================
   DARK MODE (Couleurs)
========================= */
.dark-mode{
    --couleur-fond: #121212;             /*Couleur de fond*/
    --couleur-secondaire: #1E2A24;      /*Couleur secondaire*/
    --couleur-titre: #FFFFFF;           /*Couleur titre*/
    --couleur-paragraphe: #B3B3B3;      /*Couleur paragraphe*/
    --bs-green: #20c997;               /*Couleur principale*/
}



header{
    position: fixed;
    width: 100vw;
    z-index: 9;
}

/* Navbar */
nav{
    background-color: transparent;    
}
/* Navbar sous dark mode */
.dark-mode nav .navbar-toggler-icon{
    background-color: var(--bs-green);          /* Style Bouton du Menu hamburger */
}
.dark-mode nav{
    background-color: transparent;        
}
.dark-mode nav a{
    color: var(--couleur-titre);            /*=== Couleur police navbar sous dark mode*/
}

nav .container{
    padding-right: 15em;
    padding-top: 2rem;
}
nav .btn{
    border-radius: 50px;
}
nav img{
    width: 2rem;
}
/* Style du navbar au scroll */
.navbar-scroll{
    background-color: var(--couleur-fond);
    box-shadow: 0 0 10px 5px var(--couleur-secondaire);
}
.dark-mode .navbar-scroll{
    background-color: var(--couleur-secondaire);            /* Style du navbar au scroll sous effet dark mode */
}
.navbar-scroll .container{
    padding-top: 0;                             /* Reduit l'espace haut de la navbar */
}
.btn{
    border-radius: 50px;
}
/* Bouton dark-mode */
#dark-mode{
    margin-left: 5rem;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    color: var(--couleur-titre);
    background: transparent;
    /* border: none; */
}
/* Style du bouton sous effet dark mode */
.dark-mode #dark-mode{
    background-color: var(--couleur-fond);
    border: none;
    padding: 0.4rem 0.6rem;
}


/* ===== Accueil =====*/
/* Section hero */
#hero{
    height: 100vh;
}
#tire-hero{
    font-size: 3rem;
}
#sous-titre{
    font-size: 2rem;
}
#hero .btn{
    border-radius: 50px;
}
#hero-img{
    border-radius: 10px;
    width: 90%;
    transform: rotate(0deg);                    /* Valeur de depart */
    transition: transform 2s ease;              /* Duree de la transition 1s*/
}
#hero-img:hover{
    transform: rotate(10deg);                   /*==== Rotation de l'image en cas de survol ====*/
}
#hero .container{
    padding-top: 8em;
}
/* Section Comment ca marche */
#comment .container .mb-5{
    font-size: 1.2rem;
    padding: 0 15rem;
}
#container-CCM{
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 1fr);
}
#etape1{
    grid-row: 1;
    grid-column: 1/3;
}
#etape2{
    grid-row: 2;
    grid-column: 1;
}
#etape3{
    grid-row: 2;
    grid-column: 2;
}
.bg-i{
    background-color: var(--couleur-secondaire);
    padding: 0.3em 0.7em;
    border-radius: 20px;
}
.dark-mode .bg-i{
    color: var(--couleur-titre);        /* L'icone de la section CCM sous dark mode*/
}
#etape1, #etape2, #etape3{
    border-radius: 20px;
}


/* Section Categorie services */
#service .container .mb-5{
    font-size: 1.2rem;
    padding: 0 20rem;
}
#service{
    background-color: var(--couleur-secondaire);
}
.bg-icone{
    background-color: var(--couleur-secondaire);
    padding: 0.3em 1em;
    border-radius: 20px;
}
#service .container .row .col-12:hover{
    transform: rotate(0deg);                                /* Valeur de depart */
    transition: transform 1s ease;                          /* transition d'une seconde */
}
#service .container .row .col-12:hover{
    transform: rotate(5deg);                                /* Rotation de 5deg en cas se survol */
}


/* Section temoignage */
#temoignage .container .mb-5{
    font-size: 1.2rem;
    padding: 0 15rem;
}
.carousel-item img{
    width: 10rem;
}
.temoignage-p{              
    padding: 0 30rem;
}
/* Temoignage sous dark mode */
.dark-mode .temoignage-p{
    background-color: var(--couleur-secondaire);
}

/* Section CTA */
#CTA{
    background-color: var(--bs-green);
}
#CTA .container h2{
    padding: 0 10rem;
}
#CTA a:hover{
    background-color: var(--couleur-fond);
    color: var(--couleur-titre);
}


/* Footer */
#footer{
    background-color: var(--couleur-titre);
}
#footer img{
    width: 5rem;
}
#footer h3, #footer p{
    color: var(--couleur-fond);
}
#footer ul li:hover{
    text-decoration: underline;
}
/* Footer sous dark mode */
.dark-mode #footer{
    background-color: var(--couleur-secondaire);
}
/* .dark-mode #footer h3, #footer p{
    color: var(--couleur-titre);
} */

/*==== Bouton retour en haut ====*/
#btn-Top{
    position: fixed;
    bottom: 20px;               /* Distance depuis le bas */
    right: 20px;                /* Distance depuis le cote droit */
    padding: 0 5px;
    font-size: 2em;
    border: none;
    border-radius: 10px;
    background-color: var(--bs-green);
    color: var(--couleur-fond);
    transform: translateY(0);
    transition: transform 1s ease;
}
#btn-Top:hover{
    transform: translateY(-10px);
}

/*==== Freelance ====*/
/* section freelance */
#freelance select{
    margin: 5rem 0 0 5rem;
}
#freelance .container .py-5{
    padding: 0 23em;
}
#freelance .container .card img{
    border-radius: 5px 5px 0 0;
}
#freelance .container strong{
    color: var(--bs-green);
}
#freelance .container .card:hover{
    transform: translateY(0);                                        /* Valeur de depart*/
    transition: transform 1s ease;                                  /* Duree de la transition 1s */
}
#freelance .container .card:hover{
    box-shadow: 0 0 10px 5px var(--couleur-secondaire);
    transform: translateY(-1.5em);                             /* Card monte en haut en cas de survol */
}
.dark-mode #freelance .container .card{
    background-color: var(--couleur-secondaire);            /* Couleur de la carte sous dark mode */
}

/*==== Tarif ====*/
/* section Tarif */
#tarif{
    height: 90vh;
}
#tarif{
    padding-top: 3em;
}
#tarif .container strong{
    color: var(--bs-green);
}
#tarif .container .badge{
    margin-left: 25em;
}
#tarif .card{
    transform: translateY(0);                                 /* Valeur de depart*/
    transition: transform 1s ease;                           /* Duree de la transition 1s */
}
#tarif .card:hover{
    box-shadow: 0 0 10px 5px var(--couleur-secondaire);
    transform: translateY(1em);
}
/* card sous effet dark mode */
.dark-mode #tarif .card{
    background-color: var(--couleur-secondaire);
}
.dark-mode #tarif .card ul li{
    color: var(--couleur-paragraphe);
}

/* Setion accordion */
#accordion{
    background-color: var(--couleur-secondaire);
}
#accordion .container{
    padding: 2em 0 5em 0;
}
#accordion .accordion .accordion-item{              /*-- L'arriere accordion --*/
    background-color: var(--couleur-secondaire);
    border: none;
    margin: 1em 0;
}
#accordion .accordion .accordion-button{            /*-- Le boutton de l'accordion --*/
    background-color: var(--bs-green);
    color: var(--couleur-fond);
    border-radius: 10px;
    padding: 1.3em;
}
#accordion .accordion .accordion-body{              /*-- Les reponses de l'accordion --*/
    background-color: var(--couleur-fond);
    border-radius: 10px;
}
.dark-mode #accordion .accordion .accordion-body{
    color: var(--couleur-titre);
}
#accordion .accordion .accordion-button:focus{
    box-shadow: none;
}


/*==== A propos ====*/
/* Section notre histoire */
#histoire{
    height: 90vh;
}
#histoire .notre-histoire{
    display: flex;
    justify-content: space-between;
    gap: 10em;
    padding-top: 8em;
}
#histoire .notre-histoire img{
    width: 80rem;
}
.dark-mode #histoire .notre-histoire img{
    border-radius: 10px;                       /* Bordure de l'image sous dark mode*/
}
#histoire .notre-histoire p{
    font-size: 1.1em;
}

/* Section L'équipe */
#equipe .container p{
    margin: 0 13.5em;
}
#equipe .row{
    padding: 0 5em;
}
#equipe .container .card img{
    border-radius: 5px 5px 0 0;
}
#equipe .container .card{
    transform: rotate(0);                                           /* Valeur de depart*/
    transition: transform 1s ease;                          /* Duree de la transition 1s */
}
#equipe .container .card:hover{
    box-shadow: 0 0 10px 5px var(--couleur-secondaire);
    transform: rotate(2deg);
}
.dark-mode #equipe .container .card{
    background-color: var(--couleur-secondaire);        /* background du card sous dark mode */
}
#equipe .container h6{
    color: var(--bs-green);
}

/* Section nos valeurs */
#valeur{
    background-color: var(--couleur-secondaire);
}
#valeur .row{
    padding: 0 5em;
}
#col-valeur{
    padding: 0 5rem;
}


/*==== Contact ====*/
#contact .container .col-12{
    border-radius: 20px;
}
form button:hover{
    box-shadow: 0 0 10px 10px var(--couleur-secondaire);
    transform: translateY(-0.5em);
}
#contact .container .adresse{
    margin-top: 8em;
}
#contact .container .adresse i{     /*==== Pour gerer l'icone ====*/
    margin-left: 7em;
    background-color: var(--couleur-secondaire);
    padding: 1em;
    border-radius: 10px;
}
#contact .container .adresse p{
    margin-bottom: 3em;
}
#adresse{
    padding: 5em 0 3em 0;       /*==== Pour gerer l'espace interieur de l'adresse et bordure ====*/
    border-radius: 20px;
}
#id-add{
    width: 30rem;            /*==== pour diminuer la largeur de la colonne adresse ====*/
}

/* Formulaire sous dark mode */
.dark-mode #id-form{
    background-color: var(--couleur-secondaire);
}
.dark-mode form label{
    color: var(--couleur-titre);
}
/* Adresse sous dark mode */
.dark-mode #adresse{
    background-color: var(--couleur-secondaire);
}


/*====== JS, Sections en fondu (fade-in) ======*/
.fade-in{
    opacity: 0;                                                       /* invisible au depart */
    transition: opacity 1s ease-in-out;                              /* transition d'une seconde */
}
.fade-in.sectionFade-in{
    opacity: 1;                                                 /* Visble apres d'etection de la section */
}



/* ===========================================================
MEDIA QUERIES — Adaptations selon la taille de l'ecran
=========================================================== */

    /* ======== Page 1 : ACCUEIL ========= */
/* --- Mobile : ecrans de 767px et moins --- */
@media (max-width: 767px) {
    /* Navbar */
    #btn-nav{
        padding: 0 2rem;
        font-size: 1rem;
    }

    /* Section hero */
    #tire-hero{
        font-size: 2rem;
    }
    #sous-titre{
        font-size: 1rem;
    }

    #hero .container .me-2{             /*-- Pour styliser le bouton "je suis freelance"*/
        padding: 0.5rem 2.3rem;
        margin-bottom: 0.5rem;
    }
    #hero-img{
        margin-top: -2rem;
    }

    /* Section Comment ca marche */
    #comment{
        margin-top: 20rem;
    }
    #comment .container .mb-5{
        font-size: 1rem;
        padding: 0;
    }
    #container-CCM{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #etape1{
        padding: 0 1rem;
    }
    #etape2{
        padding: 0 1rem;
    }
    #etape3{
        padding: 0 3rem;
    }

    /* Section Categorie de services */
    #service .container .mb-5{
        font-size: 1rem;
        padding: 0;
    }

    /* Section temoignage */
    #temoignage .container .mb-5{
        font-size: 1rem;
        padding: 0;
    }
    /* Carousel */
    .carousel-item img{
        width: 8rem;
    }
    .temoignage-p{              
        padding: 0;
    }
    blockquote p{
        padding-top: 5rem;
    }

    /* Section CTA */
    #CTA .container h2{
        padding: 0;
    }
}

/* --- TABLETTE : ecrans compris entre 768px et 1023px --- */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Section Comment ca marche */
    .comment{
        margin-top: 25rem;
    }
    #comment .container .mb-5{
        font-size: 1rem;
        padding: 0;
    }

    /* Section Categorie de services */
    #service .container .mb-5{
        font-size: 1rem;
        padding: 0;
    }

    /* Section temoignage */
    #temoignage .container .mb-5{
        font-size: 1rem;
        padding: 0;
    }
    /* Carousel */
    .carousel-item img{
        width: 8rem;
    }
    .temoignage-p{              
        padding: 0;
    }
    blockquote p{
        padding-top: 5rem;
    }

    /* Section CTA */
    #CTA .container h2{
        padding: 0;
    }
}

/* --- ORDINATEUR : ecrans de 1200px et plus --- */
@media (min-width: 1200px) {
    /* Section Comment ca marche */
    .comment{
        margin-top: 8rem;
    }

    /* Section temoignage */
    .temoignage-p{              
        padding: 0 20rem;
    }

    /* Section CTA */
    #CTA .container h2{
        padding: 0;
    }
}

    /* ======== Page 2 : Freelance ========= */
/* --- Mobile : ecrans de 767px et moins --- */
@media (max-width: 767px) {
    /* Navbar */
    #btn-nav{
        padding: 0 2rem;
        font-size: 1rem;
    }
    #freelance .container .py-5{
        padding: 0;
        margin-top: 10rem;
    }
}

/* --- TABLETTE : ecrans compris entre 768px et 1023px --- */
@media (min-width: 768px) and (max-width: 1023px) {
    #freelance select{
        width: 8rem;
        margin-left: 2rem;
    }
    #freelance .container .py-5{
        padding: 0;
        margin-top: 25rem;
    }
}

/* --- ORDINATEUR : ecrans de 1200px et plus --- */
@media (min-width: 1200px) {
     #freelance .container .py-5{
        margin-top: 5rem;
    }
}

    /* ======== Page 3 : Tarif ========= */
/* --- Mobile : ecrans de 767px et moins --- */
@media (max-width: 767px) {
    /* Navbar */
    #btn-nav{
        padding: 0 2rem;
        font-size: 1rem;
    }

    /* Section Tarif */
    #tarif .container h2{
        margin-top: 10rem;
    }
    #tarif .container .badge{
        margin-left: 0;
    }
    #tarif{
        margin-bottom: 35rem;
    }
    #tarif .row{
        gap: 2rem;
    }

    /* Section Accordion */
    #FAQ{
        padding-top: 10rem;
    }
}

/* --- TABLETTE : ecrans compris entre 768px et 1023px --- */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Section Tarif */
    #tarif .container h2{
        margin-top: 10rem;
    }
    #tarif .container .badge{
        margin-left: 15rem;
    }
    #tarif{
        margin-bottom: 35rem;
    }
    #tarif .row{
        gap: 2rem;
    }
}

/* --- ORDINATEUR : ecrans de 1200px et plus --- */
@media (min-width: 1200px) {
    #tarif .container .badge{
        margin-left: 15rem;
    }
}

   /* ======== Page 4 : A propos ========= */
/* --- Mobile : ecrans de 767px et moins --- */
@media (max-width: 767px) {
    /* Navbar */
    #btn-nav{
        padding: 0 2rem;
        font-size: 1rem;
    }
    /* Section Notre histoire */
    #histoire .notre-histoire{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding-top: 5rem;
    }
    #histoire .notre-histoire img{
        width: 100%;
    }
    #histoire .notre-histoire p{
        font-size: 1rem;
    }
    /* Section L'équipe */
    #equipe .container p{
        margin: 0;
        text-align: center;
    }
    #equipe .row{
        padding: 0 1rem;
    }
    #equipe .row .card{
        margin-bottom: 1rem;
    }
    /* Section nos valeurs */
    #col-valeur{
        padding: 0;
    }
}
/* --- TABLETTE : ecrans compris entre 768px et 1023px --- */
@media (min-width: 768px) and (max-width: 1023px)  {
    /* Section Notre histoire */
    #histoire .notre-histoire{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding-top: 5rem;
    }
    #histoire .notre-histoire img{
        width: 100%;
    }
    #equipe .container p{
        margin: 0;
        text-align: center;
    }
    #equipe .row{
        padding: 0 1rem;
    }
    #equipe .row .card{
        margin-bottom: 1rem;
    }
    /* Section nos valeurs */
    #col-valeur{
        padding: 0;
    }
}
/* --- ORDINATEUR : ecrans de 1200px et plus --- */
@media (min-width: 1200px) {
    #histoire .notre-histoire{   
        gap: 5rem;  
    }
}

    /* ======== Page 5 : Contact ========= */
/* --- Mobile : ecrans de 767px et moins --- */
@media (max-width: 767px) {
    /* Navbar */
    #btn-nav{
        padding: 0 2rem;
        font-size: 1rem;
    }
    #contact h2{
        padding-top: 5rem;
    }
    #contact .container .adresse i{     /*==== Pour gerer l'icone ====*/
        margin-left: 2rem;
    }
    #contact iframe{
        width: 100%;
    }
}

/* --- TABLETTE : ecrans de 768px et moins --- */
@media (min-width: 768px) and (max-width: 1023px) {
    #contact h2{
        padding-top: 5rem;
    }
    #test-form{
        width: 100%;
    }
    #testadd{
        width: 100%;            /*==== pour gerer la taille du colonne adresse ====*/
    }
    #contact iframe{
        width: 100%;
    }
}
/* --- ORDINATEUR : ecrans de 1200px et plus --- */
@media (min-width: 1200px) {
    #contact iframe{
        width: 50%;
        margin-top: 5rem;
    }
}